@model IEnumerable<AirlineManagementSystem.Models.Reservation>


@{
    ViewBag.Title = "Reservations";
}
  
<h3>All Reservations</h3>
 <hr />
    <p>  
        <a href='@Url.Action("Create", "Reservations")' class="btn btn-success">Register</a>
    </p>
    <table class="table table-bordered table-hover">
        <tr style="background-color:#333333; color:white;">
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlighType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoChildren)
            </th> 
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.FlighType)*@
                @Html.DisplayFor(modelItem => item.FlighType, Enum.GetNames(typeof(AirlineManagementSystem.Models.FType)))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoChildren)
            </td> 
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
    
    </table>
 
